<div id="d6">
  <div id="ind6img">
    <img src="landing.webp" id="img-home" alt="img">
  </div>
  <div id="ind6p">
    <div id="ind6fp">
      <p id="wp">
        Welcome to CNC Master
      </p>
      <div id="ind6p2">
        <p>
          Hear we have lots of templates ready to use
        </p>
        <p>
          What are you waiting for?
        </p>
      </div>
    </div>
  </div>
</div>

<div id="middelimgdiv">
  <div class="clases-div">
    <div class="div-3class">
      <div class="class-d" id="c1">
        <img class="c-img" src="/icons8-online-group-studying-50.png">
      </div>
      <h2 class="m-p">Register to Bootcamp </h2>
      <p class="class-p">Bootcamp Registration</p>
    </div>
    <div class="div-3class">
      <div class="class-d" id="c2">
        <img class="c-img" src="/icons8-map-50.png">
      </div>
      <h2 class="m-p">map</h2>
      <p class="class-p">How to work with cnc "mashine"</p>
    </div>
    <div class="div-3class" (click)="goNews()">
      <div class="class-d" id="c3">
        <img class="c-img" src="/icons8-online-book-64.png">
      </div>
      <h2 class="m-p">News</h2>
      <p class="class-p">News about cnc</p>
    </div>
  </div>
</div>

<div class="yalda-div">
  <p>
    Welcome to cnc Master, the ultimate destination for digital 3D models for CNC machines.
    We offer a wide range of 3D models of decor, furniture, doors, picture frames, and mirrors,
    all designed to help you bring your creative vision to life.
    Our digital models are perfect for anyone who's interested in CNC machining, whether you're a hobbyist,
    a professional woodworker, or a business owner.At cnc model,
    we're passionate about providing our customers with high-quality,
    accurate 3D models that are easy to use and perfect for CNC machining.
    Our selection of 3D models is designed to suit a wide range of tastes and styles,
    from modern and minimalist to classic and traditional.
    One of the things that sets us apart from other stores is our commitment to quality.
    We take great care in creating and curating our 3D models, ensuring that each design is accurate,
    detailed, and high-quality. We understand that our customers want the best,
    and we're committed to delivering nothing less.Our selection of 3D models is ideal for creating custom decor,
    furniture, doors, picture frames, and mirrors that are unique and personalized.
    Whether you're looking to create a custom headboard for your bedroom, a unique picture frame for your living room,
    or a custom door for your home or business, we have the perfect 3D model for you.When you shop with us, you can
    expect
    exceptional customer service. Our team is knowledgeable, friendly, and dedicated to ensuring that our customers have
    the best possible experience. We're always here to help, whether you have questions about our products or need
    assistance with your purchase.With our limited-time sale on STL, CNC models, and 3D models of decor, furniture,
    doors,
    picture frames, and mirrors, there's never been a better time to explore the exciting world of CNC machining. Our
    products are affordable, easy to use, and designed to help you create custom, high-quality products that are perfect
    for your home or business.So why wait? Browse our selection of 3D models today and discover the perfect design for
    your next project. With our commitment to quality, affordability, and exceptional customer service, we're confident
    that you'll love shopping with us. Shop with us today and experience the difference that quality, affordability, and
    exceptional customer service can make.
  </p>
</div>



<div id="modeldivs">

  <div  id="contentt">
      <h1>Chose your Model!</h1>
      <p>10 years of experience in 3D modeling and Design...</p>
  </div>


    <div id="model1" class="homeModels">
      <p> 3D</p>
      <img class="header-card__icon" src="https://xometry.eu/wp-content/uploads/2021/12/3d-printing-fdm-icon.svg">
    </div>
    <div id="model2" class="homeModels">
      <p>CNC Laser</p>
      <img class="header-card__icon"
        src="https://xometry.eu/wp-content/uploads/2022/02/61d70e3c11d456d4c6c1d952_die-casting-icon.svg">
    </div>
    <div id="model3" class="homeModels">
      <p>CNC wood</p>
      <img class="header-card__icon" src="https://xometry.eu/wp-content/uploads/2021/12/cnc-machining-icon.svg">
    </div>
  </div>
<app-support-fix />
<app-footer/>
