<app-header/>

<div id="d6">
  <div id="ind6img">
    <img src="landing.webp" id="img-home" alt="img">
  </div>
  <div id="ind6p">
    <h1 class=" text-4xl ">Millions of models for CNC</h1>
    <h2 class=" text-2xl ">
      and 3D Printer
      <br>
      The most comprehensive site
      <br>
      for all CNC models
    </h2>
    <div> &spades;</div>
  </div>
  <div class="slider">
    <div class="container">
      <div class="wrapper">
        <img id="img1" src="/img/wallPanel/wall102.png" alt="102">  
        <img src="/img/cncrouter/106.png" alt="106">
        <img src="/img/wallPanel/wall109.png" alt="109">
        <img src="/img/wallPanel/wall105.png" alt="105">
      </div>
    </div>
  </div>
</div>


<div class="yalda-div">

  

<div class="w-full bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
      <li class="me-2">
          <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">About</button>
      </li>
      <li class="me-2">
          <button id="services-tab" data-tabs-target="#services" type="button" role="tab" aria-controls="services" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Services</button>
      </li>
      <li class="me-2">
          <button id="statistics-tab" data-tabs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Facts</button>
      </li>
  </ul>
  <div id="defaultTabContent">
      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">
          <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
            CNC Machine: A Revolution in Precision and Efficiency
          </h2>
          <p class="mb-3 text-gray-500 dark:text-gray-400">
            CNC (Computer Numerical Control) is an advanced technology that automatically and accurately cuts, engraves, and
            machines various materials. Using computer programs, these machines are able to perform complex tasks with great
            precision and at very high speeds that humans are unable to do. CNC machines are used in various industries,
            including automotive, aerospace, medical, and consumer product manufacturing, and increase the quality, accuracy,
            and productivity of production processes.          </p>
          <a href="#" class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">
              Learn more
              <svg class=" w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
          </a>
      </div>
      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="services" role="tabpanel" aria-labelledby="services-tab">
          <h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">We invest in the world’s potential</h2>
          <!-- List -->
          <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
              <li class="flex space-x-2 rtl:space-x-reverse items-center">
                  <svg class="shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  <span class="leading-tight">Dynamic reports and dashboards</span>
              </li>
              <li class="flex space-x-2 rtl:space-x-reverse items-center">
                  <svg class="shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  <span class="leading-tight">Templates for everyone</span>
              </li>
              <li class="flex space-x-2 rtl:space-x-reverse items-center">
                  <svg class="shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  <span class="leading-tight">Development workflow</span>
              </li>
              <li class="flex space-x-2 rtl:space-x-reverse items-center">
                  <svg class="shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  <span class="leading-tight">Limitless business automation</span>
              </li>
          </ul>
      </div>
      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
          <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
              <div class="flex flex-col">
                  <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
                  <dd class="text-gray-500 dark:text-gray-400">Developers</dd>
              </div>
              <div class="flex flex-col">
                  <dt class="mb-2 text-3xl font-extrabold">100M+</dt>
                  <dd class="text-gray-500 dark:text-gray-400">Public repositories</dd>
              </div>
              <div class="flex flex-col">
                  <dt class="mb-2 text-3xl font-extrabold">1000s</dt>
                  <dd class="text-gray-500 dark:text-gray-400">Open source projects</dd>
              </div>
          </dl>
      </div>
  </div>
</div>


  <!-- <h3>
  </h3>
  <p class="">

  </p> -->
</div>

<div id="modeldivs">

  <div id="contentt">
    <h1>Chose your Model!</h1>
    <p>10 years of experience in 3D modeling and Design...</p>
  </div>


  <div id="model1" class="homeModels">
    <p> 3D</p>
    <img class="header-card__icon" src="https://xometry.eu/wp-content/uploads/2021/12/3d-printing-fdm-icon.svg">
  </div>
  <div id="model2" class="homeModels">
    <p>CNC Laser</p>
    <img class="header-card__icon"
      src="https://xometry.eu/wp-content/uploads/2022/02/61d70e3c11d456d4c6c1d952_die-casting-icon.svg">
  </div>
  <div id="model3" class="homeModels">
    <p>CNC wood</p>
    <img class="header-card__icon" src="https://xometry.eu/wp-content/uploads/2021/12/cnc-machining-icon.svg">
  </div>
</div>
<div id="middelimgdiv">
  <div class="clases-div">
    <div class="div-3class">
      <div class="class-d" id="c1">
        <img class="c-img" src="/icons8-online-group-studying-50.png" alt="Bootcamp">
      </div>
      <h2 class="m-p">Register to Bootcamp </h2>
      <p class="class-p">Bootcamp Registration</p>
    </div>
    <div class="div-3class">
      <div class="class-d" id="c2">
        <img class="c-img" src="/icons8-map-50.png" alt="map">
      </div>
      <h2 class="m-p">map</h2>
      <p class="class-p">How to work with cnc "mashine"</p>
    </div>
    <div class="div-3class" (click)="goNews()">
      <div class="class-d" id="c3">
        <img class="c-img" src="/icons8-online-book-64.png" alt="News">
      </div>
      <h2 class="m-p">News</h2>
      <p class="class-p">News about cnc</p>
    </div>
  </div>
</div>

<app-support-fix />
<app-footer />
