<div class="kool">
  <div class="main">
    <div class="image">
      @defer () {
        <img src="/img/{{kala.pic}}" alt="" id="img">
      }
    </div>
    <div class="title">
      {{kala.title}}
    </div>
  </div>
  <div class="price">
    @if (toman) {
      {{kala.price}}
    }@else{
      {{kala.tprice | number}}
    }
    @if (isInBasket) 
    {
      <button (click)="onRemove.emit(kala)">
        Remove
      </button>
    }@else {
      <button (click)="onBuy.emit(kala)">
        Add to cart
      </button>
    }
  </div>
</div>
