<div id="headerdiv">
  <p id="p1">CNC Master</p>
</div>
<div id="indb">
  <nav id="menu" class="div-txt">
    <div class="basket">
      <img src="/basket-svgrepo-com.svg" alt="">
    </div>
    <div class="gg">
      <button id="login" (click)="showMenu()">Login | Sing up</button>
    </div>
    <ul>
      <li class="nav-li">
      <li class="nav-li">
        <a routerLink="/home" class="nav-a">Home</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" (click)="hide()" id="m-menu">Models
          @if (showTopMenu) {
          <ul id="menu-Ul">
            <li>
              <div class="navbar">
                <a (click)="Srouter()" routerLink="/products">CNC Router <i class="fa fa-caret-down"></i></a>
                <div class="subnav">
                  <a (click)="routerP()" routerLink="/products"><i class="fa fa-caret-right"></i> 3D Relief</a>
                  <a (click)="wallp()"><i class="fa fa-caret-right"></i> Wall Panel</a>
                  <a><i class="fa fa-caret-right"></i> Table</a>
                  <a><i class="fa fa-caret-right"></i> Parametrics</a>
                  <a><i class="fa fa-caret-right"></i> Boxes</a>
                  <a><i class="fa fa-caret-right"></i> Stamp Making</a>
                  <a><i class="fa fa-caret-right"></i> Toys</a>
                </div>
              </div>
            </li>
            <li>
              <div class="navbar">
                <a>Lathe CNC <i class="fa fa-caret-down"></i></a>
                <div class="subnav">
                  <a><i class="fa fa-caret-right"></i> Statutes</a>
                  <a><i class="fa fa-caret-right"></i> Columns</a>
                  <a><i class="fa fa-caret-right"></i> Stair Railings</a>
                  <a><i class="fa fa-caret-right"></i> Rolling Pins</a>
                  <a><i class="fa fa-caret-right"></i> Stair Railing</a>
                  <a><i class="fa fa-caret-right"></i> Toys</a>
                </div>
              </div>
            </li>
            <li>
              <div class="navbar">
                <a>Laser Cutting CNC <i class="fa fa-caret-down"></i></a>
                <div class="subnav">
                  <a><i class="fa fa-caret-right"></i> Signs</a>
                  <a><i class="fa fa-caret-right"></i> Light Boxes</a>
                  <a><i class="fa fa-caret-right"></i> Tissue Boxes</a>
                  <a><i class="fa fa-caret-right"></i> Key Holders</a>
                  <a><i class="fa fa-caret-right"></i> Stickers</a>
                  <a><i class="fa fa-caret-right"></i> Toppers</a>
                  <a><i class="fa fa-caret-right"></i> Logos</a>
                  <a><i class="fa fa-caret-right"></i> Bulbing</a>
                  <a><i class="fa fa-caret-right"></i> Light Shades</a>
                  <a><i class="fa fa-caret-right"></i> Signs</a>
                  <a><i class="fa fa-caret-right"></i> Parametric Models</a>
                  <a><i class="fa fa-caret-right"></i> Wall Arts</a>
                  <a><i class="fa fa-caret-right"></i> Wall Panel</a>
                  <a><i class="fa fa-caret-right"></i> Layered Panels</a>
                  <a><i class="fa fa-caret-right"></i> Stamps</a>
                  <a><i class="fa fa-caret-right"></i> Toys</a>
                  <a><i class="fa fa-caret-right"></i> Jewlery</a>
                </div>
              </div>
            </li>
          </ul>
          }
        </a>
      </li>
      <li class="nav-li">
        <a routerLink="/news" class="nav-a">News</a>
      </li>
      <li class="nav-li">
        <a routerLink="/products" class="nav-a">Produts</a>
      </li>
      <li class="nav-li">
        <a routerLink="/support" class="nav-a">Support</a>
      </li>
      <li class="nav-li">
        <a routerLink="/about" class="nav-a">About us</a>
      </li>
    </ul>
    <div class="logo">
      <img id="im" alt="img" src="/favicon.ico">
    </div>
  </nav>
</div>
