@media screen and (min-width:460px) {
  #indb {
    border-bottom: 1px rgb(251, 12, 12) solid;
  }
}


a,
#login {
  text-decoration: none;
  color: rgb(13, 154, 248);
  font-size: 1em;
}

#indb {
  border-bottom: 1px gray solid;
}

.nav-a {
  display: inline-block;
  font-size: 1.2em;
}

#nav-a1 {
  margin-left: 3em;
}

.nav-li {
  margin-left: 1em;
}

a:active {
  color: blue;
}

a:hover {
  color: black;
  text-decoration: underline;
}

nav>ul li {
  display: inline-block;
  position: relative;
}

nav>ul li:hover {
  cursor: pointer;
}

#m-menu ul {
  display: block;
  position: absolute;
  border: solid rgb(48, 187, 246) 1px;
  left: -15vw;
  top: 5vh;
  border-radius: 0.5em;
  background: white;
  color: gray;
  font-size: medium;
}

#menu-Ul {
  text-align: center;
  padding: 0;
  width: 30vw;
}

.subnav {
  text-align: left;
  position: absolute;
  border-radius: 0.5em;
  display: none;
  width: 110%;
  font-size: medium;
  background-color: rgb(165, 191, 204);
  border: none;
  z-index: 1;
  outline: none;

  >a {
    width: 100%;
    display: block;
    color: white;
  }
}

.navbar {
  position: relative;

  a {
    padding: 0.5em 1em;
  }
}

.navbar>a:hover+.subnav {
  display: block;

}

.subnav:hover {
  display: block;
}

#headerdiv {
  padding: 5px 0 5px 0;
  direction: rtl;
  text-align: center;
  background-image: linear-gradient(to right, blue, aqua);
}


#menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1vh 0 0 0;
  position: relative;
}

#login {
  position: absolute;
  top: 0.8vh;
  left: 5vw;
  border: none;
  background-color: rgb(13, 154, 248);
  color: white;
  border-radius: 0.5em;
  padding: 0.6em;
  transition: all 1s;
}

#login:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(13, 154, 248);

}

#d5 {
  display: inline;
}

#im {
  width: 100%;
}

.logo {
  position: absolute;
  top: 0;
  right: 3em;
}

.basket {
  width: 2vw;
  position: absolute;
  left: 1.5vw;
  top: 1.1vh;

  img {
    width: 100%;
  }
}

#p1 {
  color: white;
}

#ind6img {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 49%;
}

.navbar .subnav a:hover+.subnav-content {
  display: block;
  height: 40vh;

  .transform{
    display: block;
  }
}

.subnav-content:hover {
  display: block;
  height: 40vh;
  .transform{
    display: block;
  }


}

.subnav-content {
  transition: all 0.8s;
  height: 0;
  top: 5%;
  left: 90%;
  position: absolute;
  background-color: rgb(245, 240, 205);
  border-radius: 1em;
  display: block;
  z-index: 1;
  width: 30vw;
  text-align: left;

  a {
    width: 6.5vw;
    color: rgb(0, 0, 0);
    display: inline-block;
  }
  .transform{
    display: none;
  }
}
