:host{

}
mat-checkbox{
    margin: 0 2em;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    background-image: url("/img/wp4511436.jpg");
    position: sticky;
    width: 100%;
    height: 100%;
    
}
    h2{
    text-align: center;
}
mat-card{
    background-color: rgba(255, 255, 255, 0.823);
}
mat-card{
    width: 30%;
    .button{
        margin-bottom: 0.5em;
        button{
            width: 85%;
        }
        text-align: center;
    }
}
.mobile{
    width: 90%;
}
mat-form-field{
    width: 80%;
    
}
.input,.forget{
    text-align: center;
}
.forget{
    text-align: center;
    margin-bottom: 1em;
}

mat-form-field{
    border: 0;
    input{
        border-width: 0 !important;
    }
    .mat-mdc-notch-piece{
        border-width: var(--mdc-outlined-text-field-outline-width, 0px) !important ; 
    
    }
    .mdc-notched-outline__trailing{
        border-width: var(--mdc-outlined-text-field-outline-width, 0px) !important ; 
    
    }

}