a,
#login {
  text-decoration: none;
  font-size: 1em;
}

#indb {
  border-bottom: 1px gray solid;
}






a:hover {
  color: black;
  text-decoration: underline;
}

nav>ul li {
  display: inline-block;
  position: relative;
}

nav>ul li:hover {
  cursor: pointer;
}

#m-menu ul {
  display: block;
  position: absolute;
  border: solid rgb(48, 187, 246) 1px;
  left: -15vw;
  top: 5vh;
  border-radius: 0.5em;
  background: white;
  color: gray;
  font-size: medium;
}

#menu-Ul {
  text-align: center;
  padding: 0;
  border: solid 1px rgb(85, 167, 208);
  border-radius: 0.3em;
  position: absolute;
  left: 35%;

}

.subnav {
  text-align: left;
  position: absolute;
  border-radius: 0.5em;
  display: none;
  width: 110%;
  font-size: medium;
  background-color: rgb(165, 191, 204);
  border: none;
  z-index: 1;
  outline: none;

  >a {
    width: 100%;
    display: block;
    color: white;
  }
}

.navbar {
  position: relative;
  width: 10vw;
  .subnav {
    a {
      padding: 0.4em 1em;
    }
  }
}
#menu-Ul > li{
  display: inline-block;
}

.navbar>a:hover+.subnav {
  display: block;

}

.subnav:hover {
  display: block;
}

#headerdiv {
  padding: 5px 0 5px 0;
  direction: rtl;
  text-align: center;
  background-image: linear-gradient(to right, blue, aqua);
}


#menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1vh 0 0 0;
  position: relative;
}



#d5 {
  display: inline;
}

#im {
  width: 100%;
}


#p1 {
  color: white;
}

#ind6img {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 49%;
}

.navbar .subnav a:hover+.subnav-content {
  display: block;
  height: 40vh;

  .transform {
    display: block;
  }
}

.subnav-content:hover {
  display: block;
  height: 40vh;

  .transform {
    display: block;
    width: 28vw;
  }


}

#special {
  width: 33vw;

  a {
    width: 8vw;
    display: inline-block;
  }
}

.subnav-content {
  transition: all 0.8s;
  height: 0;
  top: 5%;
  left: 90%;
  position: absolute;
  background-color: rgb(245, 240, 205);
  border-radius: 1em;
  display: block;
  z-index: 1;
  width: 30vw;
  text-align: left;

  a {
    width: 6.5vw;
    color: rgb(0, 0, 0);
    display: inline-block;
  }

  .transform {
    display: none;
  }
}